#login {
  width: 450px;
  height: 600px;
  margin: auto;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 1px rgb(190, 190, 190);
}
#login label {
  margin-left: 40px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: rgb(124, 124, 124);
}
.name {
  margin-top: 70px;
}
#login input {
  margin: 15px 40px;
  line-height: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border: solid 1px gray;
  border-radius: 6px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  padding-left: 10px;
}
#login h1 {
  font-size: 2.6rem;
  margin: 35px 0 10px 40px;
  font-family: "Inter", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 600;
}
#login h2 {
  font-family: "Inter", sans-serif;
  color: rgb(180, 180, 180);
  margin: 0 43px;
  font-size: 1rem;
  font-weight: 400;
}
.button {
  background-color: rgb(218, 218, 218);
  border-radius: 18px;
  width: 80%;
  cursor: pointer;
  font-size: 1rem;
  height: 3rem;
  margin: 100px auto 0;
  border: none;
  transition: 0.15s ease-in-out;
}
.button:hover {
  scale: 1.04;
}
.acc-ask {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin: 10px auto;
  color: rgb(180, 180, 180);
}
#login a {
  text-decoration: none;
  color: rgb(88, 133, 192);
  transition: 0.1s ease-in-out;
}
#login a:hover {
  color: rgb(174, 139, 255);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
input:focus {
  outline-style: none;
}
